body{
    font-size: 16px;
    line-height: 1.5;
    font-family: "Roboto", "Arial", sans-serif;
    letter-spacing: 0.5px;
}
*:focus{
    outline: 2px dotted #ff7500;
    outline-offset: 3px;
}
.site-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
}
.logo-link{
    transition: opacity 0.4s ease;
}
.logo-link:hover{
    opacity: 0.8;
}
.logo-link:active{
    opacity: 0.6;
}
.site-heade-actions{
    display: flex;
    align-items: center;
}

.sitenav-list{
    list-style: none;
    display: flex;
}
.sitenav-link{
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    transition: color 0.4s ease,
    opacity 0.4s ease;
}
.sitenav-link:hover{
    color: #FF7500;
}
.sitenav-link:active{
    opacity: 0.6;
}

.main-link{
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    background-color: #FF7500;
    text-decoration: none;
    transition: opacity 0.4s ease;
}
.main-link:hover{
    opacity: 0.8;
}
.main-link:active{
    opacity: 0.6;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#252420;
    color: #FFFFFF;
   
}
.hero-content{
    width: 390px;
}
.orange-line{
    width: 80px;
    height: 3px;
    background-color: #FF7500;
}
.hero-heading{
    font-size: 40px;
    line-height: 1.2;
    font-family: "Roboto Condendsed", "Roboto", "Arial", sans-serif;
}

.hero-img{
    width: 510px;
    height: 510px;
}
.features-heading{
    width: 440px;
    font-size: 72px;
    line-height: 1.2;
    font-family: "Roboto Condendsed", "Roboto", "Arial", sans-serif;
    letter-spacing: 0.5px;
}

.features-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.feature{
    width: 340px;
}
.feature-icon-wrapper{
    width: 100px;
    height: 100px;
    background-color: rgba(255, 117, 0, 0.2);
}
.feture-title{
    font-size: 24px;
    line-height: 1.2;
    font-family: "Roboto Condendsed", "Roboto", "Arial", sans-serif;
}

.promo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #252420;
    color: #FFFFFF;
}
.promo-content{
    width: 440px;
}
.promo-heading{
    font-size: 40px;
    line-height: 48px;
    font-family: "Roboto Condendsed", "Roboto", "Arial", sans-serif;
}

.promo-highlight{
    color: #FF7500;
}
.promo-img{
    width: 440px;
    height: 440px;
    object-fit: cover;
}

.site-footer{
    background-color: #f8f8f8;
}

.site-footer-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-footer ul{
    list-style: none;
}

.site-footer-socilas{
    display: flex;
    align-items: center;
}
.site-footer-socilas a{
    color: #252420;
}
.site-footer-socilas a:hover{
    color: #FF7500;
}
.site-footer-socilas a:active{
    opacity: 0.6;
}
.site-footer-devider{
    height: 2px;
    background: rgba(37, 36, 32, 0.5);
}
.site-footer-bottom{
    display: flex;
}
.site-footer-links{
    width: 224px;
    line-height: 19px;
}
.site-footer-links a{
    text-decoration: none;
    color: #252420;
}
.site-footer-links a:hover{
    color: #FF7500;
}
.site-footer-links a:active{
    opacity: 0.6;
}